* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    color: #fff;
    background: #212121;
    width: 100%;
    height: 100%;
}

section{
    padding: 50px 0;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url('~/static/img/wave.png');
    background-size: 1000px 100px;

    &.wave-1 {
        animation: wave-animation 30s linear infinite;
        z-index: 4;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }

    &.wave-2 {
        animation: wave-animation-2 15s linear infinite;
        z-index: 3;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 6px;
    }

    &.wave-3 {
        animation: wave-animation 30s linear infinite;
        z-index: 2;
        opacity: 0.8;
        animation-delay: -2s;
        bottom: 3px;
    }

    &.wave-4 {
        animation: wave-animation-2 15s linear infinite;
        z-index: 1;
        opacity: 0.3;
        animation-delay: -5s;
        bottom: 9px;
    }
}

@keyframes wave-animation {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave-animation-2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

// @media screen and (min-width: 970px) {
//     section {
//         height: 100vh;
//         display: flex;
//         align-items: center;
//         margin-bottom: 50px;
//         padding: 0 50px;
//     }
// }



// @mixin section-value{
//     height: 100vh;
//     display: flex;
//     align-items: center;
// }

// section{
//     &:nth-child(2){
//         @include section-value()
//     }
//     &:nth-child(3){
//         @include section-value()
//     }
// }


.section-title {
    letter-spacing: 0.14em !important;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #23262D;
}

::-webkit-scrollbar-thumb {
    background: #00BCD4;
    border-radius: 7px;
}